* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
.pointer{
  cursor: pointer;
}
.center{
  display: grid;
  /* place-items: center; */
  /* place-content: center; */
  width: 100px;
  margin: 20px auto;

}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.section_first {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu {
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.line {
  width: 80px;
  display: block;
  margin: 10px;
  height: 3px;
  color: red;
  border: 2px solid;
  transition: transform 0.5s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

/* apply css to element when click on 'menu' class */
.menu:active .line {
  transform: translateX(50px);
  color: black;
}
.menu:active .line_first {
  transform: rotate(45deg) translateY(10px) translateX(10px) scale(0.8);
}
.menu:active .line_second {
  opacity: 0;
}
.menu:active .line_third {
  transform: rotate(-45deg) translateY(-12px) translateX(10px) scale(0.8);
}
